<!-- Header >
<header class="l-header">
  <div class="container">
    <div class="p-logo">
      <a href="{{ .Site.BaseURL }}" class="h-logo">{{ .Site.Title }}</a>
    </div>
  </div>
</header>-->
<header class="l-header animated">
    <div class="navbar-affixed-top affix-top" data-spy="affix" data-offset-top="200">
        <div class="navbar navbar-default yamm" role="navigation" id="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand home" href="/">
                    <img src="{{ .Site.BaseURL }}/img/main/ohlovely.png" class="hidden-xs hidden-sm" alt="Oh Lovely"></a>
                    </a>
                    <div class="navbar-buttons">
                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                    </div>
                </div>

                <nav class="p-nav-links navbar-collapse collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        {{ range .Site.Menus.main }}
                            <li>
                                <a href="{{ .URL }}">
                                    {{ with .Identifier }}
                                        <i class="{{ . }}">&nbsp;</i>{{ end }}{{ .Name }}
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </nav>

                <div class="p-nav-right collapse clearfix" id="search">
                    <div>
                        <ul>
                            {{ if $.Scratch.Get "shareNav" }}
                            <li id="share-nav" class="share-menu" style="display:none;">
                                <a class="fa-share-alt" href="#share-menu">Share</a>
                            </li>
                            {{ end }}
                            <li class="search">
                                <a class="fa-search" href="#search">Search</a>
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </li>
                            <li class="menu">
                                <a class="fa-bars" href="#menu">Menu</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
