<!-- Intro -->
<section class="l-intro animated">

    <section class="p-logo">
        {{ $pic := .Site.Params.intro.pic }}
        {{ with $pic.src }}
        {{ if $pic.circle }}
        <img src="{{ . }}" class="intro-circle" width="{{ $pic.width }}" alt="{{ $pic.alt }}" />
        {{ else if $pic.imperfect }}
        <a href="/" class="logo"><img src="{{ . }}" alt="{{ $pic.alt }}" /></a>
        {{ else }}
        <img src="{{ . }}" width="{{ $pic.width }}" alt="{{ $pic.alt }}" />
        {{ end }}
        {{ end }}
    </section>

    <section class="p-catchphrase">
        {{ $intro := .Site.Params.intro }}
        {{ with $intro }}
        {{ if $intro.header }}
        <h2>{{ .header }}</h2>
        {{ end }}
        {{ if $intro.paragraph  }}
        <p>{{ .paragraph | safeHTML }}</p>
        {{ end }}
        {{ end }}
    </section>
</section>
