<aside class="p-share">
    <div class="share-inner">
        <a href="#" title="Facebook" target="_blank" rel="nofollow">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="#" title="Twitter" target="_blank" rel="nofollow">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="#" title="Instagram" target="_blank" rel="nofollow">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="#" title="Pinterest" target="_blank" rel="nofollow">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="#" title="YouTube" target="_blank" rel="nofollow">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </div>
</aside>
